/*
!SEKTION BAUMSTRUKTUR
*/

.expandContent {
  display: none;
}


.protVhg td {
  background: #EDEDED;
}

/* default no margin & padding for all rows */
#content .protTable,
#content .expandable div,
#content .expandContent div,
#content .expandHeader div,
#content .expandable {
  margin: 0;
  padding: 0;
}

.protTable {
  border: 0.2em solid #efefef;
  /*font-size: .9em;*/
}

.protRede {
  border: 0.1em solid #efefef;
  padding: 0.3em 0.3em !important;
}

.protRede.active a {    
  text-decoration: underline;
}

.historyCell {
  display: table-cell;
}
.historyCell.full{
  width: 100%;
}

.expandHeader {
  color: #232323;
  border: 0.2em solid #efefef;
  padding: 0.4em !important;
  
}
.expandHeader a {
  color: #232323 !important;
  font-weight: bold;
  padding-left: 1.5em;
  text-decoration: none;
  background: url('/web/20210722193049im_/https://www.parlament.gv.at/img/icons/small/Weitere_anzeigen_rot.gif') no-repeat;
  display:block;
}
.expandHeader a i {
  font-weight: normal;
}

/*
.protVhg {
  display: none;
}
*/

.rzvinfo {
  font-size: 0.9em;
  color: #666;
  display: none;
}

.rzvTitel {
  margin-top: 0.1em !important;
  padding-top: 0.2em !important;
  border-top: 1px solid #efefef;
}

.wm_art {
  background: #f2f2f2;
  padding: 0 0.3em;
}

.wm_art.c {
  background:#fdd;
}

.wm_art.p {
  background:#dfd;
}

.open > .expandContent {
  display: block;
}
.open > .expandHeader {
  background:#EDEDED;
  border: 0;
}
.open > .expandHeader a {
  background: url('/web/20210722193049im_/https://www.parlament.gv.at/img/icons/small/Weniger_anzeigen_rot.gif') no-repeat;
}
.open {
  border: 0.1em #a8a8a8 solid ;
}

span.labelWide {
  display: inline-block;
  width: 5em;
}
/*
!SEKTION LESEBEREICH
*/
#protDialog .close,#protDialog .next, #protDialog .last{
  cursor: pointer;
  right: 0.7em;
  position: absolute;
  font-size: 32px;
}

#protDialog .next {
  top:45%;  
}
#protDialog .last{
  top:45%;  
  left: 0.2em;
  width:1em;
}

.expandAll {
  float: right;
  margin-left: .5em;
  padding-left: 1.1em;
  background:url('/web/20210722193049im_/https://www.parlament.gv.at/img/icons/small/Weniger_anzeigen_rot.gif') no-repeat;
}
.closeAll {
  float: right;
  margin-left: .5em;
  padding-left: 1.1em;
  background:url('/web/20210722193049im_/https://www.parlament.gv.at/img/icons/small/Weitere_anzeigen_rot.gif') no-repeat;  
  display:none;
}

#protDialog {
  display: none;
  position: fixed; 
  z-index: 1; 
  top:10%;
  left: 30%;
  width: 40%; 
  height: 80%; 
  border: 1px solid #888;
  background:#fff;
  box-shadow:0 0 0 999px rgba(0,0,0,0.5);
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  #protDialog .last,#protDialog .next {
    display: none;
  }
  #protDialog {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .protContainer {
    padding:1em !important;
  }
}

.modal-content {
  height: 100%;
  overflow-y: auto;
  padding: 0 !important;
  margin: 0;
}

.protContainer {
  margin-top: 1.5em;
  padding:4em;
}

.WordSection1,.MsoNormal,.StandardR {
  font-size: 1.1em !important;
}



.custom-switch {
    position: relative;
    display: inline-block;
    user-select: none;
}

.custom-switch input {
    display: none;
}

.custom-switch label {
    position: relative;
    display: block;
    width: 40px;
    height: 17px;
    border-radius: 22px;
    background: #fff;
    cursor: pointer;
    border: 1px solid #e2e2e2;
}

.custom-switch label:after {
    position: relative;
    display: block;
    content: '';
    width: 12px;
    height: 12px;
    top: 1.5px;
    left: 2px;
    border-radius: 19px;
    background: #b8b8b8;
    pointer-events: none;
}

.custom-switch label:active:after {
    width: 12px;
}

.custom-switch input:checked+label:active:after {
    left: 23px;
}

.custom-switch input:checked+label:after {
    left: 23px;
    background: #c8102e;
}

/*
     FILE ARCHIVED ON 19:30:49 Jul 22, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:31:04 Jan 28, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.065
  exclusion.robots.policy: 0.055
  cdx.remote: 0.089
  esindex: 0.009
  LoadShardBlock: 81.404 (6)
  PetaboxLoader3.datanode: 100.581 (8)
  load_resource: 93.936 (2)
  PetaboxLoader3.resolve: 58.042 (2)
*/