.color-text-color, .hover-color-text-color:hover {
  color: #1b2028;
}

.color-blue, .hover-color-blue:hover {
  color: #132943;
}

.color-blue-light, .hover-color-blue-light:hover {
  color: #425773;
}

.color-grey, .hover-color-grey:hover {
  color: #f2eee2;
}

.color-grey-light, .hover-color-grey-light:hover {
  color: #dedede;
}

.color-grey-dark, .hover-color-grey-dark:hover {
  color: #5d5e5c;
}

.color-gold, .hover-color-gold:hover {
  color: #a39143;
}

.color-gold-light, .hover-color-gold-light:hover {
  color: #f3efe3;
}

.background-color-text-background-color, .hover-background-color-text-background-color:hover {
  background-color: #1b2028;
}

.background-color-blue, .hover-background-color-blue:hover {
  background-color: #132943;
}

.background-color-blue-light, .hover-background-color-blue-light:hover {
  background-color: #425773;
}

.background-color-grey, .hover-background-color-grey:hover {
  background-color: #f2eee2;
}

.background-color-grey-light, .hover-background-color-grey-light:hover {
  background-color: #dedede;
}

.background-color-grey-dark, .hover-background-color-grey-dark:hover {
  background-color: #5d5e5c;
}

.background-color-gold, .hover-background-color-gold:hover {
  background-color: #a39143;
}

.background-color-gold-light, .hover-background-color-gold-light:hover {
  background-color: #f3efe3;
}

/*
main {
  li a,p a {
  text-decoration: underline;
  }
}
*/
.paragraph-large {
  font-size: 2.2rem;
  line-height: 3.1rem;
  letter-spacing: 0.02em;
  font-weight: 400;
}

.unordered-list li {
  position: relative;
  padding-left: 2.6rem;
  margin: 0.8rem 0;
}
.unordered-list li:first-child {
  margin-top: 1.6rem;
}
.unordered-list li:last-child {
  margin-bottom: 1.6rem;
}
.unordered-list li:before {
  content: "";
  position: absolute;
  top: 0.7rem;
  left: 0.2rem;
  width: 1.1rem;
  height: 1.1rem;
  background-color: #132943;
  border-radius: 50%;
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
html {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.container {
  max-width: 1420px;
  padding: 0 2.4rem;
  margin: 0 auto;
}
@media (min-width: 810px) {
  .container {
    padding: 0 6rem;
  }
}
@media print {
  .container {
    width: 1000px;
  }
  .container i {
    color: #1b2028 !important;
  }
}

.outer-container {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
}
.outer-container.gold-light {
  background-color: #f3efe3;
}
.outer-container.gold {
  background-color: #a39143;
  color: white;
}
.outer-container.blue {
  background-color: #132943;
  color: white;
}
@media print {
  .outer-container.blue {
    color: #1b2028;
  }
}
@media print {
  .outer-container {
    width: 1000px;
  }
  .outer-container i {
    color: #1b2028 !important;
  }
}

.placeholder {
  width: 100%;
  height: 200vh;
}
@media print {
  .placeholder {
    height: initial;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  font-family: "Lato", sans-serif;
  font-size: 2.3rem;
  line-height: 3.5rem;
  letter-spacing: 0.02em;
  color: #1b2028;
  word-break: break-word;
}
@media print {
  body {
    position: static !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: 400;
  font-size: inherit;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

.heading-1 span,
.heading-2 span,
.heading-3 span {
  color: #1b2028;
  font-size: 0.8em;
  letter-spacing: 0.1em;
}

h4 {
  font-size: 2.2rem;
}

p {
  margin: 0;
  font-size: 1.7rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
}
p + * {
  margin-top: 2rem;
}

p a, main ul > li > a {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.7rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

li {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  color: inherit;
  cursor: pointer;
  letter-spacing: 0.02em;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
}

img {
  display: block;
  object-fit: contain;
  width: 100%;
  max-width: 100%;
}

figure {
  margin: 0;
}

blockquote {
  margin: 0;
  padding: 0;
}

video {
  vertical-align: middle;
}

input[type=text],
input[type=email] {
  appearance: none; /* for iOS */
}

textarea {
  appearance: none; /* for iOS */
}

fieldset {
  border: none;
}

.italic {
  font-style: italic;
}

.ml {
  margin-left: 1rem;
}

.mr {
  margin-right: 1rem;
}

.mb {
  margin-bottom: 1rem;
}

.hide {
  display: none !important;
}

.hide-visibility {
  visibility: hidden;
}

i {
  color: #132943;
}
i.gold {
  color: #a39143;
}
i.white {
  color: white;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

button:focus-visible,
a:focus-visible,
input:focus-visible {
  box-shadow: 0 0 0 0.2rem white, 0 0 0 0.45rem #132943;
}

button,
a,
input {
  outline: 0.25rem solid transparent;
}

@media print {
  .no-print {
    display: none !important;
  }
}
.main-column .container {
  padding: 0;
}

.container > .container, .content > .container {
  padding: 0;
}

/* todo: jeder Container auf "hauptebene"? */
.bubbles-container, .heading-section, .link-list, .contentBlock {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pk a {
  text-decoration: underline;
}

table a {
  text-decoration: underline;
}

.unordered-list {
  margin: 0;
  font-size: 1.7rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
}
.unordered-list.no-bulletpoints li:before {
  content: none;
}
.unordered-list li.highlight {
  width: 100%;
  background-color: #132943;
  color: white;
}

.scaleable {
  scale-factor: 1;
  transform: scale(var(--scale-factor));
}

.pk {
  margin: 0;
  font-size: 1.7rem;
  line-height: 2.6rem;
  letter-spacing: 0.02em;
}
@media (min-width: 810px) {
  .pk {
    width: 75%;
  }
}

a[href^="mailto:"], a[href^="tel:"] {
  display: inline-block;
}
a i {
  margin-inline-end: 0.5rem;
}

.overlay-active {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: all;
}

.overlay-exclusion {
  pointer-events: all;
  z-index: 5;
}

.main-button.arrow::after {
  content: "\f054";
  margin-left: 1.7rem;
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  font-size: 1.5rem;
}
.main-button:visited {
  color: white;
}

h1 {
  margin-bottom: var(--h1-margin-bottom);
  margin-left: var(--h1-margin-left);
  margin-right: var(--h1-margin-right);
  font-size: var(--h1-font-size);
  line-height: var(--h1-line-height);
  letter-spacing: var(--h1-letter-spacing);
  font-weight: var(--h1-font-weight);
  text-align: var(--h1-text-align);
  color: var(--h1-color);
}

h2 {
  margin-bottom: var(--h2-margin-bottom);
  font-size: var(--h2-font-size);
  line-height: var(--h2-line-height);
  letter-spacing: var(--h2-letter-spacing);
  font-weight: var(--h2-font-weight);
  color: var(--h2-color);
}

h3 {
  margin-bottom: var(--h3-margin-bottom);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  letter-spacing: var(--h3-letter-spacing);
  font-weight: var(--h3-font-weight);
  color: var(--h3-color);
}

h4 {
  margin-bottom: var(--h4-margin-bottom);
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  letter-spacing: var(--h4-letter-spacing);
  font-weight: var(--h4-font-weight);
  color: var(--h4-color);
}

span.pararaf {
  color: gray;
  text-decoration: line-through;
}

a.anchor_hidden {
  visibility: hidden;
  display: block;
  height: 0em;
  width: 0em;
}

table.tabelle {
  margin: 2rem 0;
  font-size: 1.7rem;
  width: 100%;
}

table.tabelle th {
  background-color: #132943;
  color: white;
  font-weight: 700;
}

.alignRight {
  text-align: right;
}

table.tabelle td {
  border-bottom: 1px solid #132943;
}

table.tabelle .table-responsive__prefix {
  display: none;
}

.link-list span.doclink {
  display: inline-block;
  margin-inline: 0.5rem;
}
.link-list span.doclink .iconlinklabel {
  text-decoration: underline;
}

i.big {
  font-size: 5.5rem;
}
i.medium {
  font-size: 3.4rem;
}
i.small {
  font-size: 2.4rem;
}
